.navigation {
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 20px;
    border-bottom: 3px solid #ccc;
}
footer {
    margin-top:auto;
    text-align: center;
}
.navigation li a:hover {
    color: #e817dd;
    
    
}
.navigation li a {
    text-decoration: none;
    color: rgb(32, 59, 21t2);
    font-weight: bold;

}