body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
main{
    flex-grow: 1;
    padding: 20px;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}